---
apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    toolkit.fluxcd.io/tenant: {{ .Tenant }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Tenant }}
  namespace: apps
  labels:
    toolkit.fluxcd.io/tenant: {{ .Tenant }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: apps
  name: gotk-reconciler
  labels:
    toolkit.fluxcd.io/tenant: {{ .Tenant }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: User
    name: gotk:apps:reconciler
  - kind: ServiceAccount
    name: {{ .Tenant }}
    namespace: apps
